<li class="list-group-item">
  <div class="d-flex justify-content-between">
    <span>Rating: <%= review.rating %></span>
    <p><%= review.created_at.strftime("%d/%m/%Y %H:%M:%S UTC") %></p>
  </div>
  <p><%= review.content %></p>
</li>
